---
import "../styles/navigation.css";
const sections = [
	{ name: "Inicio", link: "#home", focus: true },
	{ name: "Sobre mí", link: "#aboutMe", focus: false },
	{ name: "Proyectos", link: "#projects", focus: false },
	{ name: "Contacto", link: "#contactMe", focus: false },
];
---

<nav class="menu">
	<ul class="menu__list">
		<li class="home menu__item">
			<a href={sections[0].link} class="menu__link">{sections[0].name}</a>
		</li>
		<li class="aboutMe menu__item">
			<a href={sections[1].link} class="menu__link">{sections[1].name}</a>
		</li>
		<li class="projects menu__item">
			<a href={sections[2].link} class="menu__link">{sections[2].name}</a>
		</li>
		<li class="contactMe menu__item">
			<a href={sections[3].link} class="menu__link">{sections[3].name}</a>
		</li>
	</ul>
</nav>
<script src="../scripts/menu.js"></script>
